<!DOCTYPE html>
<html lang="en" ng-app="orderApp" ng-controller="orderCon">
<head>
	<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<script src="../../js/mui.min.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script src="../../js/angular-sanitize.min.js"></script>
<script src="../../js/util.js"></script>
<title>订单详情</title>
</head>
<body class="notice_back" ng-cloak>
	<p class="order_time">{{dayNum}}</p>
	<div class="order_top">
		<p>订单状态：<span ng-bind="order.payState"></span></p>
		<p>订单编号：<span ng-bind="order.orderNo"></span></p>
		<p>下单时间：<span ng-bind="order.time"></span></p>
	</div>
	<div class="order_address" ng-if="null!=order.consignee">
		<h3><span ng-bind="order.consignee"></span><span ng-bind="order.phone"></span></h3>
		<p ng-cloak>{{order.province}}{{order.city}}{{order.area}}{{order.detailedAddress}}</p>
	</div>
	<div class="order_con order_list">
		<div ng-bind="order.goods | break" compile-html ng-cloak>
		</div>
	</div>
	<div class="order_particulars">
		<div class="order_detaillist" ng-cloak>
			<p><span>商品总额</span><span>¥{{order.orderPrice | number:2}}</span></p>
			<p><span>优惠金额</span><span>-¥{{((order.orderPrice | float)-(order.receiptsPrice | float)) | number:2}}</span></p>
			<p><span>运费</span><span>¥{{(null==order.postage?0:order.postage) | number:2}}</span></p>
		</div>
		<h3>实付金额：¥{{order.receiptsPrice | number:2}}</h3>
	</div>
	<div class="order_btn order_bot">
		<button ng-cloak ng-if="order.paymentStatus==2&&order.orderStatus==2" class="order_button"  ng-click="success($event,order)">确认收货</button>
		<button ng-if="(order.paymentStatus==2 || order.paymentStatus==5)&&order.isCustomer==0" ng-click="callCostom($event,order)">联系客服</button>
		<button ng-cloak ng-if="order.orderStatus==2||order.orderStatus==5" ng-click="logistics(order.orderNo)">查看物流</button>
		<button ng-cloak ng-if="order.paymentStatus==5&&order.orderStatus==5&&order.evalId==null" ng-click="evaluate(order.orderNo)">评价</button>
		<button ng-cloak ng-if="order.paymentStatus==6||order.paymentStatus==5" ng-click="del($event,order.orderNo)">删除订单</button>
		<button ng-cloak ng-if="order.paymentStatus==1&&order.mainOrderNo==null" ng-click="cancel($event,order)">取消订单</button>
		<button ng-cloak class="order_button" ng-if="order.paymentStatus==1&&order.state==1" ng-click="pay(order.orderNo,order.mainOrderNo)">立即支付</button>
	</div>
	<script type="text/javascript" src="../../js/order/order_detail.js?v=123"></script>
	<script type="text/javascript" src="../../js/foot.js"></script>
</body>
</html>