<!DOCTYPE html>
<html lang="en" ng-app="commoApp" ng-controller="commoCon">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<script src="../../js/mui.min.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script src="../../js/angular-sanitize.min.js"></script>
<script src="../../js/util.js"></script>
<title ng-bind="Toptitle"></title>
<style type="text/css">
.mui-content{
	background-color:#fff;
}
.mui-pull-caption{
	width: 100%;
}
.commo_list{
	margin-bottom:0;
}
.check{
	border-color:#cc0422!important;
    background: #fff!important;
    color: #cc0422;
}
.mui-pull-bottom-pocket{
	height: 60px;
}
</style>
</head>
<body>
	<div class="commo_con">
		<div class="search_top">
			<div class="search_import commo_import">
					<input type="text" ng-click="searchClick()"  readonly="readonly" id="search" class="ng-pristine ng-valid ng-touched">
			</div>
			<a class="mui-action-back">取消</a>
		</div>
		<ul class="commo_title" ng-init="checkNum=1">
			<li ng-class="{1:'commo_on'}[checkNum]" ng-click="check(1)">默认</li>
			<li ng-class="{2:'commo_on'}[checkNum]" ng-click="check(2)">销量</li>
			<li ng-class="{3:'commo_on'}[checkNum]" ng-click="check(3)">价格<span></span></li>
			<li ng-class="{true:'commo_on'}[service.length>0||brand.length>0||null!=lowPrice||null!=highPrice]" ng-click="screening()">筛选<!-- <span></span> --></li>
		</ul>
		<div id="pullrefresh" class="mui-content mui-scroll-wrapper"
			style="margin-top:6.8rem">
			<div class="mui-scroll">
				<ul class="commo_list">
					<li ng-repeat="good in goods" ng-click="detail(good.id)"><img ng-src="{{good.picture}}" ng-cloak>
						<div class="commo_detail">
							<h3 ng-bind="good.name"></h3>
							<div class="store_label commo_label">
								<span ng-if="good.isProprietary==1" ng-cloak>自营</span> <div ng-bind="good.label | break" compile-html ng-cloak style="display: flex;display: -webkit-flex;"></div>
							</div>
							<p>
								<span ng-cloak>￥{{good.originalPrice}}</span>
								<!-- <a></a> -->
							</p>
						</div>
						<div class="commo_sellout" ng-if="good.stock==0" ng-cloak>
							<img src="../../img/sell_out.png">
						</div></li>
				</ul>
			</div>
		</div>
			<ng-include src="'../../common/mallFoot.html'" ng-init="footCheck=2"></ng-include>
	</div>
	<div class="commo_layer" style="display: none;"></div>
	<div class="commo_screen " style="display: none;">
		<div class="commo_discount">
			<h3>服务</h3>
			<ul>
				<li ng-repeat="service in services" id="{{service.id}}" ng-bind="service.name" ng-click="checkService(service.id)"></li>
			</ul>
		</div>
		<div class="commo_discount commo_section">
			<h3>价格区间（元）</h3>
			<div class="commo_number">
				<input type="number" ng-model="lowPrice" placeholder="最低价">
				<div class="commo_middle">
					<span></span>
				</div>
				<input type="number" ng-model="highPrice" placeholder="最高价">
			</div>
		</div>
		<div class="commo_discount">
			<h3>品牌</h3>
			<ul>
				<li ng-repeat="brand in brands" id="{{brand.id}}" ng-bind="brand.name" ng-click="checkBrand(brand.id)"></li>
			</ul>
		</div>
		<div style="height: 3.5rem"></div>
		<div class="commo_btn">
			<a class="commo_reset" ng-click="rest()">重置</a> <a class="commo_confirm" ng-click="checkScreening()">确定</a>
		</div>
	</div>
	<script type="text/javascript" src="../../js/goods/commo_list.js"></script>
	<script type="text/javascript" src="../../js/foot.js"></script>
	<script type="text/javascript">
		$(function(){
		setTimeout(function(){
			var screenH = $(window).height() - $(".store_bot").height();
			$(".commo_screen").height(screenH - 12);

			$(".commo_con").height(screenH);
		},100);
		});
	</script>
</body>
</html>