<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>en_management</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext*.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <jsp-config>
    <jsp-property-group>
      <description>
                Special property group for JSP Configuration JSP example.
            </description>
      <description>
                Special property group for JSP Configuration JSP example.
            </description>
      <display-name>JSPConfiguration</display-name>
      <url-pattern>*.html</url-pattern>
      <el-ignored>true</el-ignored>
      <page-encoding>UTF-8</page-encoding>
      <scripting-invalid>false</scripting-invalid>
      <include-prelude></include-prelude>
      <include-coda></include-coda>
    </jsp-property-group>
  </jsp-config>
  <listener>
    <listener-class> 
		org.springframework.web.util.WebAppRootListener 
		</listener-class>
  </listener>
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>search.syrjia</param-value>
  </context-param>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  
  <!-- 防止sql注入过滤暂时去掉，不然部分接口不能用 -->
  <!-- <filter>
		<filter-name>SQLInjectFilter</filter-name>
		<filter-class>cn.syrjia.company.safety.filter.SQLInjectFilter</filter-class>
		<init-param> 
	 		<param-name>encoding</param-name> 
			<param-value>utf-8</param-value> 
  		 </init-param> 
	</filter>
	<filter-mapping>
		<filter-name>SQLInjectFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
  
  <filter>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSessionRepositoryFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
   <filter>
    <filter-name>htmlFilter</filter-name>
    <filter-class>cn.syrjia.interceptor.HtmlVerifyHandlerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>htmlFilter</filter-name>
    <url-pattern>/weixin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>memberIdFilter</filter-name>
    <filter-class>cn.syrjia.interceptor.MemberIdVerifyHandlerFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>memberIdFilter</filter-name>
    <url-pattern>/weixin/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc-servlet.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
  <mime-mapping>
    <extension>xls</extension>
    <mime-type>application/vnd.ms-excel</mime-type>
  </mime-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error_404.html</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <distributable/>
</web-app>