@charset "utf-8";
/*公共样式*/
*{margin: 0; padding: 0;-webkit-box-sizing: content-box;box-sizing: content-box;}
a{text-decoration: none; color: #323232;border:none;-webkit-tap-highlight-color:transparent;}
img{border:none;}
h3{font-weight: normal;color: #111;margin:0;}
input,textarea,button,select，label{border: none; resize:none;outline: none;font-family: "Microsoft YaHei",Arial;background: none;}
input{-webkit-appearance: none;font-family: "Microsoft YaHei",Arial;}
select{appearance:none; -moz-appearance:none;-webkit-appearance:none;}
li{list-style: none;}
i,em{font-style:normal;}
body{background: #f6f7f8;font-family: "Microsoft YaHei",Arial; color: #111;}
p{color: #111;margin: 0;}
.body_white{background: #fff;}


/*integral_store.html*/
.header{background: #fff;line-height: 2.75rem;position: fixed;top: 0;left: 0;width: 100%;z-index: 99;}
.header_con{padding: 0 0.625rem;display: flex;display: -webkit-flex;justify-content: space-between;}
.header_return{display:inline-block;background: url("../img/return.png")no-repeat center left;height: 2.75rem;width: 1.56rem;background-size: auto 1.2rem;}
.header h3{font-size:1.125rem;}
.header_record{font-size: 1.06rem;}
.store_top{background: #fff;position: fixed;top: 2.75rem;left: 0;width: 100%;z-index: 99;}
.store_top a{display: flex;display: -webkit-flex;justify-content: space-between;padding: 1.1875rem 0.625rem;}
.store_left{display: flex;display: -webkit-flex;justify-content:flex-start;width: 65%}
.store_photo{width: 2.9rem;height: 2.9rem;display: table;overflow: hidden;border-radius: 50%;-webkit-border-radius: 50%;border:1px solid #f8f8f8;margin-right: 0.56rem;background: url("../img/man.png")no-repeat center;background-size: 2.9rem auto;}
.store_left .store_sex{background: url("../img/woman1.png")no-repeat center;background-size: 2.9rem auto;}
.store_photo span{display: table-cell;vertical-align: middle;text-align: center;}
.store_photo span img{max-width: 2.9rem;max-height:2.9rem;vertical-align: middle;}
.store_user{line-height: 3rem;font-size: 1rem;}
.store_right{background: url("../img/next1.png")no-repeat center right;background-size: 0.43rem auto;padding-right: 0.68rem;line-height: 3rem;font-size: 1.187rem;}
.store_con{padding: 0.9rem 0.625rem 0.34rem;}
.store_con:after{content: "";display: block;clear: both;}
.store_con li{background: #fff;border-radius: 6px;overflow: hidden;float: left;width: 46.4%;}
.store_con li:nth-of-type(2n-1){margin: 0 0.28rem 0.56rem 0.5rem; }
.store_con li:nth-of-type(2n){margin:0 0.5rem 0.56rem 0.28rem;}
.store_con li a{display: block;width: 100%;}
.store_conimg{width: 101%;height: 6.18rem;display: table;overflow: hidden;background-size:100% 100%;}
.store_conimg span{display: table-cell;vertical-align: middle;text-align: center;}
.store_conimg span img{width: 100%; max-height: 6.15rem;vertical-align: middle;}
.store_text{padding: 0 0.9rem;}
.store_text .store_name{padding:0.8rem 0;height:1.5rem;line-height:1rem;font-size: 0.8rem;overflow : hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;border-bottom: 1px solid #eee;}
.store_integral{padding: 0.75rem 0;background: url("../img/integral.png")no-repeat center left;background-size: 0.875rem auto;padding-left: 1.187rem;line-height: 0.8rem;font-size: 0.75rem;}
/*integral_store.html   end*/


/*convert_record.html*/
.header_btn{height: 2.75rem;line-height: 2.75rem;}
.header_close{display: inline-block;width: 2rem;height:2.75rem;background: url("../img/close.png")no-repeat center left;background-size:1.03rem auto;margin-left: 0.43rem;}
.header .header_name{font-size: 1.06rem;}
.record_rule{margin-top: 0.4rem;line-height: 1.1875rem;padding: 0 0.625rem;background: #fff;}
.record_rule a{font-size: 0.8rem;color: #999;padding-right: 2rem;}
.record_rule a span{border:1px solid #999;line-height: 0.75rem;display: inline-block;width: 0.75rem;text-align: center;border-radius: 50%;-webkit-border-radius: 50%;font-size: 0.6875rem;margin-left: 0.3rem;}
.record_num{background: #fff;padding-bottom: 1.625rem;}
.record_sum{width: 6.25rem;height: 6.25rem;margin:0 auto;border-radius: 50%;-webkit-border-radius: 50%;background: #ff7d6f;}
.record_sum p{line-height: 1.4rem;font-size: 0.875rem;color: #fff;text-align: center;padding-top: 1.43rem;}
.record_sum h3{font-size: 1.75rem;color: #fff;line-height: 2rem;text-align: center;}
.record_con{padding-left:0.625rem;}
.record_con li{padding: 0.656rem 0.625rem 1rem 0;display: flex;display: -webkit-flex;justify-content: space-between;border-bottom: 1px solid #eee;}
.record_user h3{line-height: 1.59rem;font-size: 0.875rem;}
.record_user p{line-height: 1.375rem;font-size: 0.75rem;color: #999;}
.record_num_detail{padding-top: 0.28rem;line-height: 2.68rem;padding-left: 1.187rem;background: url("../img/integral.png")no-repeat center left;background-size: 0.875rem auto;font-size: 0.875rem;}
/*convert_record.html   end*/


/*convert_rule.html*/
.rule_con{margin-top: 2.75rem;border-top: 1px solid #eee;}
.rule_title{margin-top: 0.875rem;line-height: 2.28rem;text-align: center;font-size: 1.187rem;}
.rule_text{padding:0 0.625rem;}
.rule_text li{border-bottom: 1px solid #eee;padding-bottom: 0.9rem;padding-top: 0.718rem;}
.rule_text li h3{line-height: 1.84rem;font-size: 0.93rem;}
.rule_text li h3 span{display: inline-block;width: 0.1875rem;height: 0.875rem;vertical-align: top;margin-right:0.46rem;background: #ff6f60;margin-top: 0.48rem;margin-bottom: 0.125rem;}
.rule_text li p{font-size: 0.8rem;line-height: 1.6rem;color: #666;text-indent: 2rem;}
/*convert_rule.html   end*/


/*present_detail.html*/
.present_con{padding: 0 0.625rem;margin-top: 2.75rem;}
.present_img{display: table;width: 100%;height: 11.3rem;overflow: hidden;}
.present_img span{display: table-cell;vertical-align: middle;text-align: center;}
.present_img span img{width: 100%;max-height: 11.3rem;}
.present_intro{padding-bottom: 0.3rem;border-bottom: 1px solid #eee;}
.present_intro h3{font-size: 1.375rem;line-height: 2.187rem;margin-top: 0.53rem;font-weight: 400;}
.present_integral{display: flex;display: -webkit-flex;justify-content: space-between;}
.present_integral p{background: url(../img/integral.png)no-repeat center left;background-size: 0.875rem auto;font-size: 0.8rem;padding-left: 1.22rem;line-height: 2.68rem;}
.present_integral p span{margin-left: 1rem;color: #bcbcc2;text-decoration:line-through;}
.present_freight{color: #bcbcc2;font-size: 0.8rem;line-height: 2.68rem;}
.present_address{display: flex;display: -webkit-flex;justify-content: space-between;padding-right:1.09rem;background:url("../img/add_next.png")no-repeat center right;background-size: 0.43rem auto;border-bottom: 1px solid #eee; }
.present_address span{font-size: 1rem;line-height: 3.8rem;}
.present_address span:last-child{font-size: 0.93rem;color:#bcbcc2;}
.present_detail{margin-bottom: 4.5rem;}
.present_detail li{padding-top: 0.6875rem;}
.present_detail li h3{line-height: 2.03rem;font-size: 0.875rem;}
.present_detail li p{line-height: 1.6rem;font-size:0.8rem;}
.present_exchange{border-top: 1px solid #eee;width:100%;position: fixed;bottom: 0;left: 0;background: #fff;z-index: 99;}
.present_exchange a{margin: 0.625rem 1.8rem;display: block;line-height: 2.687rem;color: #fff;background: #ff6f60;text-align: center;border-radius: 20px;font-size: 1rem;}
.present_up{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.5);z-index: 100;}
.present_affirm{width: 75%;position: absolute;left: 50%;top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);background: #fff;z-index: 110;border-radius: 10px;}
.present_affirm h3{text-align: center;line-height: 5rem;font-size: 1.43rem;}
.present_inform{padding: 0 1.56rem 1.75rem;overflow: hidden;}
.present_inform p{line-height: 1.75rem;font-size: 1rem;text-align: justify;}
.present_btn{border-top: 1px solid #eee;display: flex;display: -webkit-flex;justify-content: space-between;}
.present_btn a{display: block;width: 50%;text-align: center;line-height: 2.75rem;font-size: 1.06rem;color: #ff6f60;}
.present_btn a:first-child{color: #999;position: relative;}
.present_btn a:first-child:after{content: "";display: inline-block;width: 1px;height: 2.75rem;background: #eee;position: absolute;right: 0;top: 0;}
/*present_detail.html   end*/


/*address.html*/
.address_con{padding: 0 0.625rem;margin-top: 2.75rem;}
.address_con li{border-bottom: 1px solid #eee;line-height: 1.65rem;display: flex;display:-webkit-flex;padding: 0.8rem 0; }
.address_con li span{flex-grow: 1;font-size: 1rem;width: 20%;}
.address_con li input,.address_con li button,.address_con li textarea{flex-grow: 2;font-size: 1rem;text-align: left;}
.address_con li input::-webkit-input-placeholder{color: #bcbcc2;}
.address_con li textarea::-webkit-input-placeholder{color: #bcbcc2;}
.address_con .address_add{background: url("../img/add_next.png")no-repeat center right;background-size: 0.43rem auto;padding-right: 0.6rem;}
.address_con .address_add span{width: 22%;}
.address_con li textarea{padding-top: 0.2rem;}
.address_btn{margin: 3.125rem 1.8rem 0;display: block;line-height: 2.687rem;color: #fff;background: #ff6f60;text-align: center;border-radius: 20px;font-size: 1rem;}
/*address.html   end*/


/*exchange_succeed.html*/
.succeed_top{padding-bottom: 1.437rem;padding-top: 1.34rem;margin-top:2.75rem;border-top: 1px solid #eee;background:#fff;position: relative;margin-bottom: 1.56rem;}
.succeed_top:after{content:"";display: block;width: 100%;height: 0.84rem;background:url("../img/bk.png")repeat-x bottom;background-size: auto 0.84rem;position: absolute;bottom:-0.84rem;left: 0;}
.succeed_top h3{text-align: center;line-height: 2.9rem;color: #ff6f60;font-size: 1.25rem;}
.succeed_top h3 span{vertical-align:top;display: inline-block;width: 1.75rem;height: 1.75rem;background: url("../img/succeed.png")no-repeat center;background-size: 1.75rem auto;margin-right: 0.7rem;margin-top: 0.575rem;}
.succeed_top p{line-height: 2.06rem;font-size: 0.93rem;text-align: center;}
.succeed_address{padding: 0.6875rem 0.625rem 0.812rem;background: #fff;margin-bottom: 0.625rem;}
.succeed_address h3{line-height: 1.656rem;font-size: 1rem;padding-left: 1.4rem;background: url("../img/place1.png")no-repeat left center;background-size: 0.75rem auto;}
.succeed_address h3 span{margin-left: 0.75rem;}
.succeed_address p{padding-left: 1.4rem;font-size: 0.875rem;color: #999;line-height: 1.375rem;}
.succeed_num{padding: 0 0.625rem;background: #fff;line-height: 3.43rem;font-size: 1rem;margin-bottom: 0.625rem;}
.succeed_detail{background: #fff;padding: 0 0.625rem 0.6875rem;}
.succeed_detail li h3{font-size: 0.93rem;}
.succeed_index{padding: 0.625rem 0;position: fixed;bottom: 0;left: 0;width: 100%;background: #fff;box-shadow: 0 0 10px #dfdfdf;}
.succeed_index a{display: block;width:7.375rem;margin:0 auto;text-align:center;line-height: 2.625rem;border-radius: 20px;border:2px solid #ff6f60;color: #ff6f60;font-size: 1rem;}
/*exchange_succeed.html   end*/


/*exchange_record.html*/
.header_center{position: absolute;width: 100%;top: 0;left: 0;text-align: center;}
.exchange_con{border-top: 1px solid #eee;}
.exchange_con ul{padding: 0 0.625rem;background: #fff;}
.exchange_con ul li{padding: 1.25rem 0.6rem 1.25rem 0;border-bottom: 1px solid #eee;background: url("../img/add_next.png")no-repeat right center;background-size: 0.43rem auto;}
.exchange_img{width: 6.25rem;height: 3.75rem;display: table;overflow: hidden;border-radius: 8px;margin-right: 0.625rem;float: left;}
.exchange_img span{display: table-cell;vertical-align: middle;text-align: center;}
.exchange_img span img{max-width: 6.25rem;max-height: 3.75rem;vertical-align: middle;}
.exchange_text {overflow: hidden;float: left;width: 62%;}
.exchange_text p{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;line-height: 1.75rem;font-size: 1rem;margin-top: 0.125rem;}
.exchange_text p:last-child{font-size: 0.875rem;color: #999;margin-top:0;}
.exchange_con ul li:after{content: "";display: block;clear: both;}
/*exchange_record.html   end*/


/*exchange_detail.html*/
.exchange_top{padding: 0 0.625rem;background: #fff;margin-bottom: 0.625rem;margin-top: 2.75rem;border:none;}
/*exchange_detail.html   end*/


@media(max-width:320px){
    .store_con li{width: 45.8%!important;}
    .store_conimg{height: 5rem;}
    .store_conimg span img{max-height: 5rem;}
}
@media(max-width:360px){
    .store_con li{width: 46.3%;}
}
@media(min-width:360px){
    .address_con li span{width: 14%;}
    .address_con .address_add span{width: 16%;}
    .exchange_text{width: 66%;}
}
@media(min-width:375px){
    .address_con li span{width: 12%;}
    .address_con .address_add span{width: 14%;}
    .exchange_text{width: 68%;}
}
@media(min-width:414px){
    .store_con li{width: 46.8%!important;}
    .store_conimg{height: 6.9rem;}
    .store_conimg span img{max-height: 6.9rem;}
    .address_con li span{width: 6%;}
    .address_con .address_add span{width: 8%;}
    .exchange_text{width: 71%;}
}

/*loding加载*/
.loding {
	position: fixed;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	z-index:1001;
}

.loding_img {
	display: table;
	width: 6.875rem;
	height: 6.25rem;
	overflow: hidden;
	margin: 0 auto;
}

.loding_img span {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.loding_img span img {
	max-width: 6.875rem;
	height: auto;
	vertical-align: middle;
	border-radius: 8px;
}

.loding p {
	font-size: 0.875rem;
	color: #fff;
	line-height: 1.5rem;
	text-align: center;
	position: absolute;
	bottom: 0.3rem;
	left: 0;
	width: 100%;
}
/*loding加载   end*/

新添样式

/*commodity.html*/
.indent_con {
    margin-top: 2.75rem;
    border-top: 1px solid #eeeeee;
}
.tabBlock-tabs {
    width: 30%;
    /* margin-bottom: 3rem; */
    overflow: auto;
    background:  #f6f7f8;

}
.fl {
    float: left;
}
.tabBlock-back {
    background: #f6f7f8!important;
    border-left: 6px solid #ff6f60;
    border-right: none!important;
}
.tabBlock-back a{color: #ff6f60; }
.tabBlock-tab {
    background: #fff;
    line-height: 1.5rem;
    font-size: 0.875rem;
    border-bottom: 1px solid #eaeaea;
    border-right:1px solid #eee;
}
.tabBlock-tab a {
    display: block;
    margin: 0 15%;
    /*border-bottom: 1px dashed #fff;*/
    padding: 1.125rem 0;
}
.tabBlock-content {
    width: 70%;
   /*  margin-bottom: 3rem; */
}
.fr {
    float: right;
}
.clear{clear: both;}
.tabBlock-pane {
    overflow-y: scroll;
}
.serve_pane_title {
    line-height: 1.875rem;
    background: #f7f7f7;
    color: #999;
    font-size: 0.75rem;
    padding-left: 0.4rem;
}
.tabBlock-pane li {
    margin-left: 0.4rem;
    border-bottom: 1px solid #ebf0f2;
    padding: 1.125rem 0 1.125rem 0.6rem;
    background: #fff;
}
.serve_commo {
    display: table;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    margin-right: 0.75rem;
    background: url(../img/commo_co.png)no-repeat center;
    background-size: 4rem auto;
    border-radius: 4px;
}
.serve_commo span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.serve_commo span img {
    width: 4rem;
    height: 4rem;
    vertical-align: middle;
}
.serve_property {
    width: 60%;
}
.serve_property p {
    font-size: 0.9rem;
    line-height: 2.1rem;
}
.serve_pro_money {
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin-top: 0.5rem;
    display: inline-block;
}
.serve_pro_money a {
    color: #ff6f60;
    font-size: 1rem;
}
.serve_pro_num {
    margin-top: 0.5rem;
}
.serve_pro_minus, .serve_pro_add {
    /* display: inline-block; */
    display:none;
    width: 1.375rem;
    height: 1.375rem;
    background: url(../img/minus.png)no-repeat left center;
    background-size: 1.375rem auto;
}
.serve_pro_num input {
    display: inline-block;
    width: 2rem;
    text-align: center;
    line-height: 1.375rem;
    font-size: 1rem;
    vertical-align: top;
}
.serve_pro_add {
    background: url(../img/add.png)no-repeat left center;
    background-size: 1.375rem auto;
}
.tabBlock-pane li:after {
    content: "";
    display: block;
    clear: both;
}
.serve_gopay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.serve_pay_add {
    width: 68%;
    background: #fff;
    position: relative;
    height: 3rem;
}
.serve_add_shop span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 999;
}
.serve_add_shop span img {
    max-width: 2rem;
    height: auto;
    vertical-align: middle;
}
#layer{width:100%;height:100%;position:fixed;left:0;top:0;background: rgba(0,0,0,0.5);}
.serve_shopcar_num {
    display: block;
    height: 0.875rem;
    line-height: 0.875rem;
    text-align: center;
    background: #fdca2f;
    color: #fff;
    font-size: 0.75rem;
    position: fixed;
    left: 3rem;
    bottom: 2.8rem;
    border-radius: 20px;
    padding: 0 0.3rem;
}
.serve_pay_money {
    font-size: 0.875rem;
    line-height:3rem;
    margin-left: 4.6rem;
}
.serve_pay_money span{ font-size: 1.25rem; line-height: 3rem;color: #ff6f60;}
.serve_pay_btn {
    width: 32%;
    background: #ff6f60;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    line-height: 3rem;
}
.serve_gopay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    border-top: 1px solid #eee;
}
.serve_bot {
    background: #494949;
    position: relative;
    height: 3rem;
    width: 100%;
}
.serve_bot {
    background: #494949;
    position: relative;
    height: 3rem;
    width: 100%;
}
.serve_add_shop {
    width: 3rem;
    height: 3rem;
    display: table;
    background: #ff6f60;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    top: -0.5rem;
    left: 0.9rem;
}

.serve_pay_money2 {
    color: #c4c4c4;
    position: absolute;
    left: 4.6rem;
    top: 0;
    margin-left: 0;
}
.serve_shopcar {
    background: #fff;
    position: fixed;
    bottom: 3rem;
    left: 0;
    z-index: 99;
    width: 100%;
}
.serve_shopcar_title {
    border-bottom: 1px solid #f2f2f2;
}
.serve_shopcar_title span {
    display: inline-block;
    font-size: 0.875rem;
    line-height: 2rem;
    background: url(../img/shop_car.png)no-repeat left center;
    background-size: 1.25rem auto;
    padding-left: 1.875rem;
    margin-left: 0.9rem;
}
.serve_shopcar_none {
    line-height: 2rem;
    font-size: 0.875rem;
    color: #666;
    padding-left: 2rem;
    padding-right: 0.9rem;
}
.shopcar_none {
    line-height: 3rem;
    font-size: 0.875rem;
    text-align: center;
    color: #aaa;
}
.serve_shopcar_detail {
    padding-left: 0.9rem;
}
.serve_shopcar_detail li {
    border-bottom: 1px solid #f2f2f2;
    padding-right: 0.9rem;
}
.serve_shopcar_detail li h3 {
    font-size: 0.875rem;
    line-height: 3rem;
}
.sereve_shopcar_num {
    margin-top: 0.8rem;
}

.serve_shopcar_money {
    line-height: 3rem;
    margin-right: 0.9rem;
    font-size: 0.875rem;
}
/*commodity.html   end*/


@media(max-width:320px){
.tabBlock-content{width: 80%;}
    .tabBlock-tabs{width: 20%;}
}

@media(min-width:360px){
.serve_property {
        width: 64%;
    }
}

@media(min-width:375px){
 .serve_property {
        width: 65%;
    }
}

@media(min-width:414px){
.serve_property {
        width: 68%;
    }
}
