<!DOCTYPE html>
<html lang="en" ng-app="personApp" ng-controller="personCon">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<link rel="stylesheet" type="text/css" href="../../css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../../css/owl.theme.css">
<link rel="stylesheet" href="../../css/swiper.css">
<script src="../../js/mui.min.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/owl.carousel.js"></script>
<script src="../../js/swiper.min.js"></script>
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script src="../../js/angular-sanitize.min.js"></script>
<script src="../../js/util.js"></script>
<title>就诊人管理</title>
<style type="text/css">
.evalua_finish{
	padding: 0 0 0.625rem;
}
.mui-scroll-wrapper, .scroller {
	position: absolute;
	width: 100%;
}
.fff{
	background:#fff;
}
</style>
</head>
<body ng-class="{true:'notice_back'}[addresss.length>0]" ng-cloak>
	<div style="padding-bottom:5rem;" class="scroller">
	<p class="title_con" ng-if="addresss.length>0"><i ng-cloak>{{addresss.length}}</i>/<i>100</i></p>
	<div class="address_con" ng-repeat="patient in addresss " render-finish
		ng-click="checkAddr(patient.id,$event)">
		<div class="address_top">
			<p class="address_user">
				<span ng-bind="patient.name | subName"></span> <span class="person_phone"
					ng-bind="patient.phone"></span> <span class="person_relation"
					ng-bind="patient.nexus"></span>
			</p>
		</div>
		<div class="address_bth" ng-hide="isShowOpera">
			<div class="address_default"
				ng-if="patient.isDefaultPer==0">
				<span class="address_set" ng-click="def(patient.id,$event)"></span><i>设为默认就诊人</i>
			</div>
			<div class="address_default" ng-click="def(patient.id,$event)"
				ng-if="patient.isDefaultPer==1">
				<span class=""></span><i>默认就诊人</i>
			</div>
			<div class="address_rigth">
				<!-- <a class="address_edit" ng-click="addPerson(patient.id,$event)">编辑</a> --> <a
					class="address_delete" ng-click="del(patient.id,$event)">删除</a>
			</div>
		</div>
	</div>
	</div>
	
	<div class="person_none" ng-if="addresss==null||addresss.length==0">
		<img src="../../img/person_none.jpg">
		<p>暂未添加就诊人～</p>
	</div>
	
	<div class="evalua_finish" ng-class="{true:'fff'}[null==addresss||addresss.length==0]">
		<button ng-click="addPerson()">添加就诊人</button>
	</div>
	<script type="text/javascript"
		src="../../js/person/seedoctor_person.js"></script>
		<script type="text/javascript"
		src="../../js/foot.js?v=1"></script>
</body>
</html>