<!DOCTYPE html>
<html lang="en" ng-app="inquiryApp" ng-controller="inquiryCon">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=no">
<link href="../../css/style.css" rel="stylesheet" type="text/css">
<link href="../../css/mui.min.css" rel="stylesheet" type="text/css">
<script src="../../js/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src="../../js/mui.min.js"></script>
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script src="../../js/angular-sanitize.min.js"></script>
<script src="../../js/util.js"></script>
<style type="text/css">
.marginBottom{
	margin-bottom: 42px;
}
.scroll-content{top: 3.375rem;}
.inquiry_hint_time{margin:1rem 0.675rem;}
.inquiry_hint_time p{height: 1.375rem;width: auto;border-radius: 22px;display: inline-block;padding-left:1rem;background:rgba(68,68,68,0.6) url(../../img/count_down.png)no-repeat left center;background-size: 1.3rem 1.3rem;}
.inquiry_hint_time p span{font-size: 0.687rem;color: #fff;padding: 0 1rem 0 0.6rem;line-height: 1.375rem;height: 1.375rem;display: inline-block;}
.inquiry_hint_time .inquiry_hint_number{background:rgba(68,68,68,0.6) url(../../img/number.png)no-repeat left center;background-size: 1.3rem 1.3rem;}
#specialTest{
	overflow-x:hidden; 
}
</style>
<title ng-bind="title"></title>
</head>
<body ng-cloak  style="width: 100%;overflow-x: hidden;">
	
	<div id="symptom_describe" class="notice_back" ng-if="null==id">
		<div class="inquiry_top">
			<div class="inquiry_photo" ng-click="toDoctor()">
				<img ng-src="{{doctor.docUrl}}">
			</div>
			<div class="inquiry_doctor" ng-cloak>
				<h3>{{doctor.docName  |limitTo:5}}<span>{{doctor.docPosition}}</span></h3>
				<p>{{doctor.infirmaryName}}</p>
			</div>
			<div class="inquiry_case">
				<h3 ng-bind="patient.name"></h3>
				<p ng-click="toCasehistory()">我的健康档案</p>
			</div>
		</div>
		<div class="symptom_con">
			<div class="symptom_main">
				<div class="symptom_hint">请您认真填写症状描述，以便医生更好地了解您的情况。<br>（本问诊单内容仅对{{doctor.docName  |limitTo:5}}医生开放，请放心填写。）</div>
				<div class="symptom_patient">
					<h3>就诊人</h3>
					<p ng-cloak>
						<span ng-bind="patient.name"></span>
						<span>{{patient.sex==1?'女':'男'}}</span>
						<span>{{patient.age}}岁</span>
						<span ng-bind="patient.phone"></span>
					</p>
				</div>
				<div class="symptom_fill">
					<h3>症状描述<span>1/3</span></h3>
					<div class="symptom_text">
						<textarea rows="3" class="TextArea1" ng-model="symptom.symptomDescribe"  onkeyup="words_deal();"  readonly="readonly"></textarea>
					</div>
				</div>
				<div class="symptom_fill">
					<h3>相关病史<span>2/3</span></h3>
					<div class="symptom_text">
						<textarea rows="3" class="TextArea1" ng-model="symptom.otherDescribe" onkeyup="words_deal();" readonly="readonly"></textarea>
					</div>
				</div>
				<div class="symptom_fill">
					<h3>测量脉搏<span>3/3</span></h3>
					<div class="symptom_count">
							<p>您的脉搏1分钟跳动次数。</p>
						</div>
						<div style="text-align: center;line-height: 2rem;padding-top: 0.5rem;width: 50%;margin: 0 auto;border-bottom: 1px solid #aaa;" ng-bind="symptom.pulse"></div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="specialTest" class="notice_back" ng-if="null!=id">
		<div class="indetail_first" ng-if="null!=specialTest.testOption&&specialTest.testOption.length>0">
		<div class="inquiry_top indetail_top">
			<div class="inquiry_photo" ng-click="toDoctor()">
				<img ng-src="{{doctor.docUrl}}">
			</div>
			<div class="inquiry_doctor" ng-cloak>
				<h3>{{doctor.docName  |limitTo:5}}<span>{{doctor.docPosition}}</span></h3>
				<p>{{doctor.infirmaryName}}</p>
			</div>
			<div class="inquiry_case">
				<h3 ng-bind="patient.name"></h3>
				<p ng-click="toCasehistory()">我的健康档案</p>
			</div>
		</div>
		<ul class="indetail_step">
			<li class="step_on" ng-if="null!=specialTest.testOption&&specialTest.testOption.length>0">
				<span></span>
				<h3>详细问诊</h3>
				<p>{{checkNum}}/{{specialTest.testOption.length}}</p>
			</li>
			<li ng-if="1==specialTest.isSurface||1==specialTest.isTongue">
				<span></span>
				<h3>上传舌照/面照</h3>
				<p>{{uploadNum}}/{{specialTest.isSurface==1&&specialTest.isTongue==1?2:1}}</p>
			</li>
			<li ng-if="1==specialTest.isOther">
				<span></span>
				<h3>其他资料</h3>
			</li>
		</ul>
		<div class="indetail_con">
			<div class="indetail_choice" ng-repeat="testOption in specialTest.testOption">
				<div class="indetail_issue" ng-if="testOption.optionType==1">
					<p class="indetail_page">{{$index+1}}/{{specialTest.testOption.length}}</p>
					<h3><span>Q{{$index+1>=10?$index+1:"0"+($index+1)}}</span>{{testOption.titleName}}</h3>
					<ul class="indetail_one">
						<li ng-class="{1:'indetail_check'}[options.checked]" ng-repeat="options in testOption.options" ng-click="checkRedio(options,testOption.options)">
							<span><i></i></span>
							<p ng-bind="options.optionName"></p>
						</li>
					</ul>
				</div>
				<div class="indetail_issue" ng-if="testOption.optionType==2">
					<p class="indetail_page">{{$index+1}}/{{specialTest.testOption.length}}</p>
					<h3><span>Q{{$index+1>=10?$index+1:"0"+($index+1)}}</span>{{testOption.titleName}}（可多选）</h3>
					<ul class="indetail_more">
						<li ng-class="{1:'indetail_check'}[options.checked]"  ng-repeat="options in testOption.options" ng-click="checkCheckBox(options)">
							<span><i></i></span>
							<p ng-bind="options.optionName"></p>
						</li>
					</ul>
				</div>
				<div class="indetail_issue" ng-if="testOption.optionType==3">
					<p class="indetail_page">{{$index+1}}/{{specialTest.testOption.length}}</p>
					<h3><span>Q{{$index+1>=10?$index+1:"0"+($index+1)}}</span>{{testOption.titleName}}</h3>
					<div class="indetail_text" ng-init="testOption.options[0].optionName=('null'!=testOption.options[0].optionName?testOption.options[0].optionName:'')">
						<textarea placeholder="请在此处填写" rows="4" ng-readonly="specialTest.state==1?true:false" ng-model="testOption.options[0].optionName" ng-change="getCheckNum()"></textarea>
					</div>
				</div>
			</div>
		</div>
		<div class="evalua_finish symptom_finish">
			<button class="next" ng-click="next($event,1)" ng-if="1==specialTest.isSurface||1==specialTest.isTongue||1==specialTest.isOther">下一步</button>
			<button ng-if="1!=specialTest.isSurface&&1!=specialTest.isTongue&&1!=specialTest.isOther&&specialTest.state!=1&&type==null" ng-click="save()">完成</button>
			<button ng-if="1!=specialTest.isSurface&&1!=specialTest.isTongue&&1!=specialTest.isOther&&specialTest.state!=1&&type!=null" onclick="mui.back();">取消</button>
		</div>
	</div>
	<div class="indetail_second" ng-class="{0:'symptom_describe'}[specialTest.testOption.length]" ng-if="1==specialTest.isSurface||1==specialTest.isTongue">
		<div class="inquiry_top indetail_top">
			<div class="inquiry_photo" ng-click="toDoctor()">
				<img ng-src="{{doctor.docUrl}}">
			</div>
			<div class="inquiry_doctor" ng-cloak>
				<h3>{{doctor.docName  |limitTo:5}}<span>{{doctor.docPosition}}</span></h3>
				<p>{{doctor.infirmaryName}}</p>
			</div>
			<div class="inquiry_case">
				<h3 ng-bind="patient.name"></h3>
				<p ng-click="toCasehistory()">我的健康档案</p>
			</div>
		</div>
		<ul class="indetail_step">
			<li class="step_on" ng-if="(null!=specialTest.testOption&&specialTest.testOption.length>0)||2==specialTest.state">
				<span></span>
				<h3>详细问诊</h3>
				<p>{{checkNum}}/{{specialTest.testOption.length}}</p>
			</li>
			<li class="step_on" ng-if="1==specialTest.isSurface||1==specialTest.isTongue">
				<span></span>
				<h3>上传舌照/面照</h3>
				<p>{{uploadNum}}/{{specialTest.isSurface==1&&specialTest.isTongue==1?2:1}}</p>
			</li>
			<li ng-if="1==specialTest.isOther">
				<span></span>
				<h3>其他资料</h3>
			</li>
		</ul>
		<div class="photo_shoot indetail_shoot" ng-if="1==specialTest.isTongue">
			<h3 class="photo_title">请上传舌照</h3>
			<ul class="photo_add indetail_add" ng-if="(specialTest.tongue!=null&&specialTest.tongue.length>0)||2==specialTest.state">
				<li ng-repeat="tongue in specialTest.tongue">
					<div class="photo_photo">
						<img ng-src="{{tongue.picPathUrl}}">
					</div>
				</li>
				<li ng-if="2==specialTest.state">
					<div class="photo_photo">
						<img src="../../img/indetail_add.png">
						<input type="file" accept="image/*"  name="tongue" onchange="setImagePreview(this,1,2)">
						<input type="tetx" name="tongueUrl">
					</div>
					<p>点击添加</p>
				</li>
				<li ng-if="2==specialTest.state">
					<div class="photo_photo">
						<img src="../../img/indetail_add.png">
						<input type="file" accept="image/*"  name="tongue" onchange="setImagePreview(this,1,2)">
						<input type="tetx" name="tongueUrl">
					</div>
					<p>点击添加</p>
				</li>
			</ul>
			<div class="no_photo" ng-if="(specialTest.tongue==null||specialTest.tongue.length==0)&&specialTest.state==1">
					<img src="../../img/no_photo.png">
			</div>
			<div class="indetail_example">
				<h3>舌照提示</h3>
				<p>拍摄时请选择高清摄像头并关闭美颜功能  </p>
				<p>请在自然光线下拍摄，拍照时请尽量张大嘴巴 </p>
				<p>为获得最佳效果，拍舌顶照时，请尽量向下伸长舌头</p>
				<p>为获得最佳效果，拍舌底照时，请尽量向上抬起舌头</p>
				<ul class="indetail_show">
					<li>
						<img src="../../img/indetail_img1.png">
						<span>示例图片</span>
					</li>
					<li>
						<img src="../../img/indetail_img2.png">
						<span>示例图片</span>
					</li>
					<li>
						<img src="../../img/indetail_img3.png">
						<span>示例图片</span>
					</li>
					<li>
						<img src="../../img/indetail_img4.png">
						<span>示例图片</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="photo_shoot indetail_shoot"  ng-if="1==specialTest.isSurface">
			<h3 class="photo_title">请上传正面照</h3>
			<ul class="photo_add indetail_add" ng-if="(specialTest.surface!=null&&specialTest.surface.length>0)||2==specialTest.state">
				<li ng-repeat="surface in specialTest.surface">
					<div class="photo_photo">
						<img ng-src="{{surface.picPathUrl}}">
					</div>
				</li>
				<li ng-if="2==specialTest.state">
					<div class="photo_photo">
						<img src="../../img/indetail_add.png">
						<input type="file" accept="image/*"  name="surface" onchange="setImagePreview(this,1,2)">
						<input type="text" name="surfaceUrl">
					</div>
					<p>点击添加</p>
				</li>
				<li ng-if="2==specialTest.state">
					<div class="photo_photo">
						<img src="../../img/indetail_add.png">
						<input type="file" accept="image/*"  name="surface" onchange="setImagePreview(this,1,2)">
						<input type="text" name="surfaceUrl">
					</div>
					<p>点击添加</p>
				</li>
			</ul>
			<div class="no_photo" ng-if="(specialTest.surface==null||specialTest.surface.length==0)&&specialTest.state==1">
					<img src="../../img/no_photo.png">
			</div>
			<div class="indetail_example">
				<h3>面照提示</h3>
				<p>请在自然光线下拍摄正面素颜照片拍摄时请选择高清摄像头并关闭美颜功能</p>
				<p>如有需要可上传其他患部清晰照片</p>
				<ul class="indetail_show">
					<li>
						<img src="../../img/indetail_img5.png">
						<span>示例图片</span>
					</li>
					<li>
						<img src="../../img/indetail_img6.png">
						<span>示例图片</span>
					</li>
					<li>
						<img src="../../img/indetail_img7.png">
						<span>示例图片</span>
					</li>
					<li>
						<img src="../../img/indetail_img8.png">
						<span>示例图片</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="scheme_btn  indetail_btn" ng-class="{true:'width_a'}[(1==specialTest.isOther&&1!=specialTest.isOther&&specialTest.state!=1)||(specialTest.testOption.length>0&&1==specialTest.isOther)||(specialTest.testOption.length>0&&1!=specialTest.isOther&&specialTest.state!=1)]">
			<a class="prev" ng-click="prev($event)" ng-if="specialTest.testOption.length>0">上一步</a>
			<a class="next" ng-click="next($event,2)" ng-if="1==specialTest.isOther">下一步</a>
			<a ng-if="1!=specialTest.isOther&&specialTest.state!=1&&type==null" ng-click="save()">完成</a>
			<a ng-if="1!=specialTest.isOther&&specialTest.state!=1&&type!=null"  onclick="mui.back();">取消</a>
			
		</div>
	</div>
	<div class="indetail_third" ng-class="{true:'symptom_describe'}[specialTest.testOption.length==0&&1!=specialTest.isTongue&&1!=specialTest.isSurface]" ng-if="1==specialTest.isOther">
		<div class="inquiry_top indetail_top">
			<div class="inquiry_photo" ng-click="toDoctor()">
				<img ng-src="{{doctor.docUrl}}">
			</div>
			<div class="inquiry_doctor" ng-cloak>
				<h3>{{doctor.docName  |limitTo:5}}<span>{{doctor.docPosition}}</span></h3>
				<p>{{doctor.infirmaryName}}</p>
			</div>
			<div class="inquiry_case">
				<h3 ng-bind="patient.name"></h3>
				<p ng-click="toCasehistory()">我的健康档案</p>
			</div>
		</div>
		<ul class="indetail_step">
			<li class="step_on" ng-if="null!=specialTest.testOption&&specialTest.testOption.length>0">
				<span></span>
				<h3>详细问诊</h3>
				<p>{{checkNum}}/{{specialTest.testOption.length}}</p>
			</li>
			<li class="step_on" ng-if="1==specialTest.isSurface||1==specialTest.isTongue">
				<span></span>
				<h3>上传舌照/面照</h3>
				<p>{{uploadNum}}/{{specialTest.isSurface==1&&specialTest.isTongue==1?2:1}}</p>
			</li>
			<li class="step_on" ng-if="1==specialTest.isOther">
				<span></span>
				<h3>其他资料</h3>
			</li>
		</ul>
		<div class="photo_shoot indetail_other">
			<h3><span>您可在此上传病历、化验单或其他检查报告</span><!-- p ng-bind="specialTest.otherName"></p> --></h3>
			<ul class="photo_add" ng-if="(specialTest.other!=null&&specialTest.other.length>0)||2==specialTest.state">
				<li ng-repeat="other in specialTest.other">
					<div class="photo_photo">
						<img ng-src="{{other.picPathUrl}}">
					</div>
				</li>
				<li ng-if="2==specialTest.state">
					<div class="photo_photo">
						<img src="../../img/indetail_add.png">
						<input type="file" accept="image/*"  name="other" onchange="setImagePreview(this,8,1)">
						<input type="text" name="otherUrl">
					</div>
					<p>点击添加</p>
				</li>
			</ul>
			<div class="no_photo" ng-if="(specialTest.other==null||specialTest.other.length==0)&&specialTest.state==1">
					<img src="../../img/no_photo.png">
			</div>
		</div>
		<div class="scheme_btn inquiry_btn" ng-class="{true:'width_a'}[(specialTest.testOption.length>0||1==specialTest.isTongue||1==specialTest.isSurface)&&specialTest.state!=1]">
			<a class="prev" ng-if="specialTest.testOption.length>0||1==specialTest.isTongue||1==specialTest.isSurface" ng-click="prev($event)">上一步</a>
			<a ng-if="specialTest.state!=1&&type==null" ng-click="save()">完成</a>
			<a ng-if="specialTest.state!=1&&type!=null"  onclick="mui.back();">取消</a>
		</div>
	</div>
	</div>
	
	</div>
	<script src="../../js/im/specialTest.js"></script>
	<script src="../../js/foot.js"></script>
</body>
</html>