<!DOCTYPE html>
<html lang="en" ng-app="orderApp" ng-controller="orderCon">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<script src="../../js/mui.min.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script src="../../js/angular-sanitize.min.js"></script>
<script src="../../js/util.js"></script>
<script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<title>确认订单</title>
</head>
<body class="notice_back" ng-cloak>
	<!-- <div class="serve_con serve_person" ng-click="checkPatient($event)" ng-if="null==orders.recordOrder.patientId||''==orders.recordOrder.patientId||orders.serverType==13"> -->
	<div class="serve_con serve_person" ng-click="checkPatient($event)">
		<h3 class="serve_line" ng-cloak ng-if="null==patientName">
			<span class="left_icon"></span>
			<p>选择就诊人</p>
		</h3>
		<p class="serve_message" ng-cloak ng-if="null!=patientName">
			<span ng-bind="patientName | limitTo:5"></span> <span
				ng-bind="patientSex"></span> <span>{{patientAge}}岁</span> <span
				ng-bind="patientPhone"></span>
		</p>
	</div>
	<div class="affirm_address" ng-click="checkAddr($event)"
		ng-if="null!=shippingAddressId">
		<h3>
			<span class="left_icon"></span>收货信息
		</h3>
		<span ng-bind="consignee"></span> <span ng-if="null!=province">{{(province
			|
			limitTo:1:province.length-1)=='市'?'':province}}{{city}}{{area}}{{detailedAddress}}</span>
		<span ng-bind="shippingAddressPhone" style="display: block;"></span>
	</div>
	<div class="affirm_address" ng-click="checkAddr($event)"
		ng-if="null==shippingAddressId">
		<h3>
			<span class="left_icon"></span>收货信息
		</h3>
		<span>请选择收货地址</span>
	</div>
	<div class="serve_con">
		<h3 class="serve_line">
			<span class="left_icon"></span>
			<p>调理方案</p>
			<p class="serve_money">¥{{orders.recordOrder.receiptsPrice-orders.recordOrder.postage
				| number:2}}</p>
		</h3>
		<p class="serve_detail purch_detail" ng-if="null!=doctor">{{doctor.docName}}
			{{doctor.docPosition}}</p>
		<p class="serve_detail purch_detail" ng-if="null!=doctor">{{doctor.infirmaryName}}</p>
	</div>
	<div class="serve_con">
		<h3 class="serve_line">
			<span class="left_icon"></span>
			<p>快递费</p>
			<p class="serve_money purch_money">¥{{postage+drugPostage|number:2}}</p>
		</h3>
		<ul class="serve_list">
			<li><span>调理方案</span> <span ng-if="drugPostage==0">满100 <i>已包邮</i></span>
				<span ng-if="drugPostage>0">{{drugPostage|number:2}}元</span></li>
			<li ng-if="orders.goods.length>0"><span>商品</span> <span>{{postage
					| number:2}}元</span></li>
		</ul>
	</div>
	<div class="affirm_express">
		<h3>
			<span class="left_icon"></span>快递说明
		</h3>
		<ul>
			<!-- <li>1.我们向您保证，17点前完成付款的订单，将于当日调剂、发货，由顺丰航空快递送货上门。</li>
			<li>2.如需发票，支付后请及时与客服联系，以便及时寄出。（建议您在订单支付后30日内开具发票）</li>
			<li>3.本次服务将在支付完成48小时内有效，支付后请尽快 问诊。</li>
			<li>4.购买即视为同意<a>《服务协议》</a>，付款前请详细阅读。</li> -->
			<li>1、 我们向您保证，17点前完成付款的订单，将于当日调剂、发货。</li>
			<li>2、 优先使用顺丰标快的物流方式，约在发货后48小时内到达。</li>
			<li>3、 大陆地区快递可到地区都支持配送。</li>
			<li>4、 如遇特殊偏远地区，则选用EMS等其他快递服务。</li>
			<li>5、 海外邮寄服务需特殊申请，由于目的地清关问题，建议用户自行携带药品并附有医嘱。</li>
		</ul>
	</div>
	<div class="affirm_bot">
		<h3>
			实付：<span>¥{{orders.recordOrder.receiptsPrice+postage+drugPostage-orders.recordOrder.postage
				| number:2}}</span>
		</h3>
		<button ng-click="pay()">确认订单</button>
	</div>
	<!-- <div class="mui-iframe-wrapper"
		style="top: 0px; bottom: 0px;height: 100%;background-color: #fff;overflow:hidden;display:none;z-index: 99999">
		<iframe src="../shippingaddress/select_address.html?type=true"
			id="select_address" name="select_address"></iframe>
	</div> -->
	<div class="mui-iframe-wrapper"
		style="top: 0px; bottom: 0px;height: 100%;background-color: #fff;overflow:hidden;display:none;z-index: 99999">
		<iframe src="../person/seedoctor_person.html?type=true"
			id="person_manage" name="person_manage"></iframe>
	</div>
	<script src="../../js/hospital/affirm_purchasing.js"></script>
	<script src="../../js/foot.js"></script>
</body>
</html>