<!DOCTYPE html>
<html lang="en" ng-app="phoneMedicineApp"
	ng-controller="phoneMedicineCon" ng-cloak>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<script src="../../js/mui.min.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script src="../../js/angular-sanitize.min.js"></script>
<script src="../../js/util.js"></script>
<title>拍方抓药</title>
<style type="text/css">
.photo_num .symptom_operation{ 
	margin-top: 2rem;
	margin-left: 2rem;
}
</style>
</head>
<body class="notice_back">
	<div class="photo_top">
		<div class="photo_img">
			<img src="../../img/photo_top.png">
		</div>
		<div class="photo_text">
			<h3>拍方抓药</h3>
			<p>在线上传药方，一键下单，顺丰快递配送到家</p>
		</div>
	</div>
	<div class="photo_shoot">
		<h3 class="photo_title">请拍照上传药方</h3>
		<ul class="photo_add">
		<!-- capture="camera" -->
			<li>
				<div class="photo_photo">
					<input type="hidden" id="imgUrl">
					<img src="../../img/photo_add.png" id="photoUrl"> <input type="file" accept="image/*" 
						id="uploadPhoto" onchange="checkPicture(this)">
				</div>
				<p>点击添加</p>
			</li>
			<li class="photo_num">
				<h3>付数</h3>
				<div class="symptom_operation">
					<ul class="s_none">
						<li class="fkleefl" ng-click="changePulse($event,'jian')"></li>
						<li>{{buyNum}}
						</li>
						<li class="fkleefr" ng-click="changePulse($event,'jia')"></li>
					</ul>
				</div>
			</li>
		</ul>
		<ul class="photo_hint">
			<h3>拍方抓药须知：</h3>
			<li>请确保上传的药方图片字迹清晰可辨。</li>
			<li>药方上传后，请耐心等待药剂师审核。</li>
			<li>药品和药量均不可更改，如需更换药剂种类（饮片、颗粒与膏方），需出示开方医生签字。</li>
			<li>药剂师接单时间：8:00-22:00。</li>
			<!-- <a href="">更多提示>></a> -->
		</ul>
	</div>
	<div class="scheme_btn photo_bot">
		<a ng-click="toIndex($event);">取消</a> <a ng-click="addPhotoMedical();">确定</a>
	</div>
	<script type="text/javascript"
		src="../../js/hospital/photo_medicine.js"></script>
	<script type="text/javascript" src="../../js/foot.js"></script>
</body>
</html>