<!DOCTYPE html>
<html lang="en" ng-app="affirmChangeApp" ng-controller="affirmChangeCon">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<link rel="stylesheet" type="text/css" href="../../css/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../../css/owl.theme.css">
<script src="../../js/mui.min.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/owl.carousel.js"></script>
<script src="../../js/swiper.min.js"></script>
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script src="../../js/angular-sanitize.min.js"></script>
<script src="../../js/util.js"></script>
<title>安全手机绑定</title>
</head>
<body>
	<div class="verify_con">
		<h3>请输入要绑定的手机号</h3>
		<div class="verify_write affirm_write">
			<input type="number" style="width: 100%;" ng-model="inputPhon" maxlength="11">
		</div>
		<h3>请输入验证码</h3>
		<div class="verify_write affirm_write">
			<input type="number" id="inputCode" ng-model="code" maxlength="4"> <a class="import_again" ng-click="getCode()" id="timeA">获取验证码</a>
		</div>
		<div class="affirm_explain">
			<h3>说明</h3>
			<p>该手机号将作为平台唯一认证绑定的手机号，用于平台与您进行紧急联系使用。</p>
		</div>
	</div>
	<div class="change_btn" style="position: inherit;margin-top: 10rem;" ><a ng-click="bindIsOk()">确定</a></div>
	<script type="text/javascript" charset="utf-8" src="../../js/myself/affirm_change.js?v=1"></script>
	<script type="text/javascript" charset="utf-8" src="../../js/foot.js"></script>
	</script>
</body>
</html>