<!DOCTYPE html>
<html lang="en" ng-app="cardApp" ng-controller="cardCon">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
<link rel="stylesheet" type="text/css" href="../../css/style.css">
<script src="../../js/mui.min.js"></script>
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<script type="text/javascript" src="../../js/angular.min.js"></script>
<script src="../../js/angular-sanitize.min.js"></script>
<script src="../../js/util.js"></script>
<title>历史银行卡信息</title>
<style type="text/css">
#pullrefresh {
	background-color: #fff !important;
}
</style>
</head>
<body ng-cloak>
	<!-- <div class="card_title aid_title" style="height: 2.75rem">
		<a class="mui-action-back"></a>
		<h3>历史银行卡信息</h3>
		<button ng-click="add()" style="position: absolute;right: 0">新增</button>
	</div> -->
	<div  class="card_list">
	<ul ng-repeat="card in cards">
		<li ng-if="card.type==1" ng-click="edit(card.id)">
			<img src="../../img/card1.png">
			<div class="card_detail">
				<h3 ng-bind="card.name"></h3>
				<p>
					<span>****</span><span>****</span><span>****</span><span ng-bind="card.bankCode | limitTo : -4"></span>
				</p>
				<p class="card_branch" ng-bind="card.bankName"></p>
			</div>
		</li>
		<li ng-if="card.type==2" ng-click="edit(card.id)"><img src="../../img/card2.png">
			<div class="card_detail">
				<h3 ng-bind="card.name"></h3>
				<p>
					<span>****</span><span>****</span><span>****</span><span ng-bind="card.bankCode | limitTo : -4"></span>
				</p>
				<p class="card_branch" ng-bind="card.bankName"></p>
			</div></li>
		<li ng-if="card.type==3" ng-click="edit(card.id)"><img src="../../img/card3.png">
			<div class="card_detail">
				<h3 ng-bind="card.name"></h3>
				<p>
					<span>****</span><span>****</span><span>****</span><span ng-bind="card.bankCode | limitTo : -4"></span>
				</p>
				<p class="card_branch" ng-bind="card.bankName"></p>
			</div></li>
		<li ng-if="card.type==4" ng-click="edit(card.id)"><img src="../../img/card4.png">
			<div class="card_detail">
				<h3 ng-bind="card.name"></h3>
				<p>
					<span>****</span><span>****</span><span>****</span><span ng-bind="card.bankCode | limitTo : -4"></span>
				</p>
				<p class="card_branch" ng-bind="card.bankName"></p>
			</div></li>
		<li ng-if="card.type==5" ng-click="edit(card.id)"><img src="../../img/card5.png">
			<div class="card_detail">
				<h3 ng-bind="card.name"></h3>
				<p>
					<span>****</span><span>****</span><span>****</span><span ng-bind="card.bankCode | limitTo : -4"></span>
				</p>
				<p class="card_branch" ng-bind="card.bankName"></p>
			</div></li>
		<li ng-if="card.type==6" ng-click="edit(card.id)"><img src="../../img/card6.png">
			<div class="card_detail">
				<h3 ng-bind="card.name"></h3>
				<p>
					<span>****</span><span>****</span><span>****</span><span ng-bind="card.bankCode | limitTo : -4"></span>
				</p>
				<p class="card_branch" ng-bind="card.bankName"></p>
			</div></li>
	</ul>
	</div>
	<p class="notAvailable" ng-if="cards==null||cards.length==0">暂无银行卡信息</p>
	
	<button class="card_added" ng-click="add()" >新增</button>
	
	<script type="text/javascript" src="../../js/myself/history_card.js"></script>
	<script type="text/javascript" src="../../js/foot.js"></script>
</body>
</html>