<!DOCTYPE html>
<html lang="en" ng-app="knowledgeApp" ng-controller="knowledgeCon">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../../css/mui.min.css">
	<link rel="stylesheet" type="text/css" href="../../css/style.css">
	<script src="../../js/mui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../css/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="../../css/owl.theme.css">
	<link rel="stylesheet" href="../../css/swiper.css">
	<script type="text/javascript" src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/owl.carousel.js"></script>
	<script src="../../js/swiper.min.js"></script>
	<script type="text/javascript" src="../../js/angular.min.js"></script>
	<script src="../../js/angular-sanitize.min.js"></script>
	<script src="../../js/ng-infinite-scroll.js"></script>
	<script src="../../js/util.js"></script>
	<title>知识圈</title>
</head>
<style type="text/css">
	.owl-theme .owl-controls{left: 88%;bottom: 0.4rem;}
	.owl-item a{height: 7.465rem;min-height: 7.465rem;}
  	.owl-carousel .owl-item a img {
        height: 7.465rem;
    }
    .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{background: #cc0422;}
  	.owl-theme .owl-controls .owl-page span{background: #fff;}
 	.ng-cloak{display: none;}
 	.know_people{
		width: 81%;
	}
  	@media (min-width: 360px){
    .owl-item a{
        height:8.399rem;
        min-height: 8.399rem;
    }
    .owl-carousel .owl-item a img {
        height:8.399rem;
    }
     .owl-theme .owl-controls{left: 89%;}
     .know_people{
		width: 83%;
	}
  	}
  	@media (min-width: 375px) {
    .owl-item a{
        height:8.75rem;
        min-height:8.75rem;
    }
    .owl-carousel .owl-item a img {
        height:8.75rem;
    }
    .owl-theme .owl-controls{left: 90%;}
    .know_people{
		width: 84%;
	}
  	}
   	@media (min-width: 414px) {
    .owl-item a{
            height:9.659rem;
            min-height: 9.659rem;
    }
    .owl-carousel .owl-item a img {
        height:9.659rem;
    }
    .owl-theme .owl-controls{left: 91%;}
    .know_people{
		width: 86%;
	}
    }
	.mui-content{
		background-color: #fff;
	}
	.scroll {
		overflow: scroll;
		width: 100%;
	}
	.swiper-slide{
		height: auto;
	}
	.banner_top{
		padding-top:1.2rem;
	}
</style>
<body style="overflow: hidden;" ng-cloak>
	<div class="index_banner know_banner" id="roll_commoidy" >
        <div id="owl-carousel" class="owl-carousel" >
            <a class="item" ng-repeat="banner in bannerlist" ng-click="toBanerDetail(banner)"><img render-finish class="banner{{$index}}" ng-src="{{banner.imageUrl}}"></a>
        </div>
    </div>
    <div class="know_search" ng-class="{0:'banner_top'}[bannerlist.length]">
    	<a ng-click="search()"><span></span>搜索文章</a>
    	<div class="know_news" ng-click="replyContent()">
    		<span ng-if="unread==0" ng-cloak></span>
    		<span ng-if="unread>0&&unread<=99" ng-cloak>{{unread}}</span>
    		<span ng-if="unread>99" ng-cloak>...</span>
    	</div>
    </div>
    <div class="know_title">
    	<ul>
    		<li ng-class="{1:'know_active'}[checkNum]" ng-click="updateData(1)" rel="1"><span>关注</span></li>
    		<li ng-class="{2:'know_active'}[checkNum]" id="gd" ng-click="updateData(2)" rel="2"><span>热门</span></li>
    		<li ng-class="{3:'know_active'}[checkNum]" ng-click="updateData(3)" rel="3"><span>收藏</span></li>
    		<li ng-class="{4:'know_active'}[checkNum]" ng-click="updateData(4)" rel="4"><span>分类</span></li>
    	</ul>
    </div>
    <div class="swiper-container"  id="tabs-container">
    	<div class="swiper-wrapper">
    	<div class="scroll gz" infinite-scroll-distance='0'
			ng-class="{1:'',2:'ng-hide',3:'ng-hide',4:'ng-hide'}[checkNum]"
			ng-controller="gz" infinite-scroll='loadMore1("gz")'
			infinite-scroll-disabled='gzDis'
			infinite-scroll-immediate-check=true>
	    	<div class="swiper-slide">
	    		<div class="know_circle_con"  >
		    		<ul class="know_attention"  >
		    			<li ng-cloak ng-repeat="knowledge in knowledges" >
		    				<span class="know_look">{{knowledge.readNum}}阅读</span>
		    				<div class="know_top">
		    					<img ng-click="doctorDetail(knowledge.doctorId)" ng-src="{{knowledge.docUrl}}">
		    					<div class="know_people">
		    						<h3>
		    							<span ng-click="doctorDetail(knowledge.doctorId)">{{knowledge.docName}}</span>
		    							<i ng-click="doctorDetail(knowledge.doctorId)">{{knowledge.docPosition}}</i>
		    							<a class="know_followed" ng-if="knowledge.follow==2" ng-click="Foll($event,knowledge.doctorId,1)">已关注</a>
	    								<a  ng-if="knowledge.follow==1" ng-click="Foll($event,knowledge.doctorId,2)">+关注</a>
		    						</h3>
		    						<p ng-click="doctorDetail(knowledge.doctorId)">{{knowledge.hosName}}</p>
		    					</div>
		    				</div>
		    				<h3 class="know_article_title" >
		    					<p ng-click="detail(knowledge.id)">{{knowledge.title}}</p>
		    					<span>{{knowledge.timesapp}}发布</span>
		    				</h3>
		    				<div ng-if="knowledge.type==1||knowledge.type==3" class="know_article_con know_article_gz" ng-click="detail(knowledge.id)">
		    					<div class="">
		    						<p compile-html  ng-click="detail(knowledge.id)" ng-bind="knowledge.content | splitContent"></p>
		    					</div>
		    					<h3 ng-bind="knowledge.labelNames | splitLabelNames" compile-html></h3>
		    				</div>
		    				<div ng-if="knowledge.type==4" class="know_article_con know_article_gz" ng-click="detail(knowledge.id)">
		    					<div>
			    					<div class="know_hot_main">
				    					<div class="know_hot_gz" ng-click="detail(knowledge.id)">
				    						<p compile-html   ng-bind="knowledge.content | splitContent"></p>
				    					</div>
		
				    					<div class="know_hot_img">
				    						<img ng-src="{{knowledge.imgUrl}}">
				    					</div>
				    				</div>
				    				<div class="know_article_con">
				    					<h3 ng-bind="knowledge.labelNames | splitLabelNames" compile-html></h3>
				    				</div>
			    				</div>
		    				</div>
		    				<div ng-if="knowledge.type==2" class="know_article_con know_article_gz" ng-click="detail(knowledge.id)">
		    					<div>
			    					<div class="know_hot_main">
				    					<div class="know_hot_gz" ng-click="detail(knowledge.id)">
				    						<p compile-html   ng-bind="knowledge.content | splitContent"></p>
				    					</div>
		
				    					<div class="know_hot_img">
				    						<img ng-src="{{knowledge.videoShowUrl}}">
				    					</div>
				    				</div>
				    				<div class="know_article_con">
				    					<h3 ng-bind="knowledge.labelNames | splitLabelNames" compile-html></h3>
				    				</div>
			    				</div>
		    				</div>
		    				<div class="know_operate hot_operate">
	    					<span ng-if="knowledge.collect==2" class="know_collect know_collected" ng-click="collect($event,knowledge.id,knowledge)">{{knowledge.collectNum}}收藏</span>
		    					<span ng-if="knowledge.collect==1" class="know_collect " ng-click="collect($event,knowledge.id,knowledge)">{{knowledge.collectNum}}收藏</span>
		    					<span ng-if="knowledge.praise==2" class="know_praise know_praised" ng-click="praise($event,knowledge.id,knowledge)">{{knowledge.pointNum}}点赞</span>
		    					<span ng-if="knowledge.praise==1" class="know_praise" ng-click="praise($event,knowledge.id,knowledge)">{{knowledge.pointNum}}点赞</span>
		    					<span class="know_review" ng-click="detail(knowledge.id)">{{knowledge.plNum}}评论</span>
		    					<!-- <span class="know_share" ng-click="share(knowledge.id)"><span></span>{{knowledge.shareNum}}分享</span> -->
		    				</div>
		    			</li>
		    		</ul>
	    		</div>
	    		<div id="know_more_gz" style="display: none;">
	    			<div class="know_nomore">	<span>没有更多文章了</span>	</div>
	    		</div>
	    		<!-- 没有关注医生 -->
	    		<div class="know_circle_con"  id="gzDoctorWZ" style="display: none;">
	    			<img src="../../img/noarticle.png" class="know_noattention">
	    			<p class="know_noarticle">您还没有关注的医生，<a style="color:red;" href="../hospital/hospital_index.html">快去关注吧</a></p>
	    			<a href="#" ng-click="upCheckNum()" class="know_more know_more_rm">查看更多热门文章</a>
	    		</div>
	    		<!-- 没有关注医生    end-->
	    	</div>
    	</div>
    	<div class=" scroll rm" infinite-scroll-distance='0'
		ng-class="{1:'ng-hide',2:'',3:'ng-hide',4:'ng-hide'}[checkNum]"
		ng-controller="rm" infinite-scroll='loadMore2("rm")'
		infinite-scroll-disabled='rmDis'
		infinite-scroll-immediate-check=true>
	    	<div class="swiper-slide">
	    		<div class="know_circle_con">
		    		<ul class="know_hot" >
		    			<li ng-repeat="knowledge in knowledges" >
		    				<div class="know_hot_top">
		    					<div class="hot_top_left" ng-click="doctorDetail(knowledge.doctorId)">
		    						<img  ng-src="{{knowledge.docUrl}}">
		    						<h3 ><span>{{knowledge.docName}}</span><span>{{knowledge.docPosition}}</span><span ng-bind="knowledge.hosName|splitHosName"></span></h3>
		    					</div>
		    					<a class="know_followed" ng-if="knowledge.follow==2" ng-click="Foll($event,knowledge.doctorId,1)">已关注</a>
		    					<a  ng-if="knowledge.follow==1" ng-click="Foll($event,knowledge.doctorId,2)">+关注</a>
		    				</div>
		    				<h3 class="know_hot_title" ng-click="detail(knowledge.id)">{{knowledge.title}}</h3>
		    				
		    				<p ng-cloak ng-if="knowledge.type==1||knowledge.type==3" class="know_hot_con" compile-html  ng-click="detail(knowledge.id)" ng-bind="knowledge.content | splitContent"></p>
		    				<div ng-cloak ng-if="knowledge.type==4" class="know_hot_main" ng-click="detail(knowledge.id)">
		    					<div class="know_hot_left">
		    						<p compile-html  ng-click="detail(knowledge.id)" compile-html   ng-bind="knowledge.content | splitContent"></p>
		    					</div>
		    					<div class="know_hot_img">
		    						<img ng-src="{{knowledge.imgUrl}}">
		    					</div>
		    				</div>
		    				
		    				<div ng-cloak ng-if="knowledge.type==2" class="know_hot_main" ng-click="detail(knowledge.id)">
		    					<div class="know_hot_left">
		    						<p compile-html   ng-bind="knowledge.content | splitContent"></p>
		    					</div>
		    					<div class="know_hot_img">
		    						<img ng-src="{{knowledge.videoShowUrl}}">
		    					</div>
		    				</div>
		    				<div class="know_article_con" ng-click="detail(knowledge.id)">
    							<h3 ng-bind="knowledge.labelNames | splitLabelNames" compile-html></h3>
    						</div>
		    				<div class="know_operate hot_operate">
		    					<span ng-if="knowledge.collect==2" class="know_collect know_collected" ng-click="collect($event,knowledge.id,knowledge)">{{knowledge.collectNum}}收藏</span>
		    					<span ng-if="knowledge.collect==1" class="know_collect " ng-click="collect($event,knowledge.id,knowledge)">{{knowledge.collectNum}}收藏</span>
		    					<span ng-if="knowledge.praise==2" class="know_praise know_praised" ng-click="praise($event,knowledge.id,knowledge)">{{knowledge.pointNum}}点赞</span>
		    					<span ng-if="knowledge.praise==1" class="know_praise" ng-click="praise($event,knowledge.id,knowledge)">{{knowledge.pointNum}}点赞</span>
		    					<span class="know_review" ng-click="detail(knowledge.id)">{{knowledge.plNum}}评论</span>
		    					<!-- <span class="know_share" ng-click="share(knowledge.id)"><span></span>{{knowledge.shareNum}}分享</span> -->
		    				</div>
		    			</li>
		    		</ul>
	    		</div>
	    	</div>
	    	<div id="know_more_rm" style="display: none;">
	    		<div class="know_nomore">	<span>没有更多文章了</span>	</div>
	    	</div>
    	</div>
    	<div class=" scroll sc" infinite-scroll-distance='0'
		ng-class="{1:'ng-hide',2:'ng-hide',3:'',4:'ng-hide'}[checkNum]"
		ng-controller="sc" infinite-scroll='loadMore3("sc")'
		infinite-scroll-disabled='scDis'
		infinite-scroll-immediate-check=true>
	    	<div class="swiper-slide">
	    		<div class="know_circle_con">
		    		<ul class="know_hot" >
		    			<li ng-repeat="knowledge in knowledges" ng-cloak >
		    				<div class="know_hot_top">
		    					<div class="hot_top_left" ng-click="doctorDetail(knowledge.doctorId)">
		    						<img  ng-src="{{knowledge.docUrl}}">
		    						<h3><span>{{knowledge.docName}}</span><span>{{knowledge.docPosition}}</span><span ng-bind="knowledge.hosName|splitHosName"></span></h3>
		    					</div>
		    					<a class="know_followed" ng-if="knowledge.follow==2" ng-click="Foll($event,knowledge.doctorId,1)">已关注</a>
		    					<a  ng-if="knowledge.follow==1" ng-click="Foll($event,knowledge.doctorId,2)">+关注</a>
		    				</div>
		    				<h3 class="know_hot_title" ng-click="detail(knowledge.id)">{{knowledge.title}}</h3>
		    				<div class="know_hot_left" ng-click="detail(knowledge.id)" style="width: 100%;">
		    					<p ng-if="knowledge.type==1||knowledge.type==3" class="know_hot_con" ng-bind="knowledge.content | splitContent"  compile-html></p>
		    				</div>
		    				<div ng-if="knowledge.type==4" class="know_hot_main" ng-click="detail(knowledge.id)" >
		    					<div class="know_hot_left" style="width: 100%;">
		    						<p compile-html   ng-bind="knowledge.content| splitContent" ></p>
		    					</div>
		    					<div class="know_hot_img">
		    						<img ng-src="{{knowledge.imgUrl}}">
		    					</div>
		    				</div>
		    				<div ng-if="knowledge.type==2" class="know_hot_main" ng-click="detail(knowledge.id)">
		    					<div class="know_article_con" >
		    						<div class="know_hot_left" style="width: 100%;">
			    						<p compile-html  ng-click="detail(knowledge.id)" ng-bind="knowledge.content | splitContent"></p>
			    					</div>
			    				</div>
		    					<div class="know_hot_img">
		    						<img ng-src="{{knowledge.videoShowUrl}}">
		    					</div>
		    				</div>
		    				<div class="know_article_con" ng-click="detail(knowledge.id)">
		    					<h3 ng-bind="knowledge.labelNames | splitLabelNames" compile-html></h3>
		    				</div>
		    				<div class="know_operate hot_operate">
		    					<span ng-if="knowledge.collect==2" class="know_collect know_collected" ng-click="collect($event,knowledge.id,knowledge)">{{knowledge.collectNum}}收藏</span>
			    					<span ng-if="knowledge.collect==1" class="know_collect " ng-click="collect($event,knowledge.id,knowledge)">{{knowledge.collectNum}}收藏</span>
			    					<span ng-if="knowledge.praise==2" class="know_praise know_praised" ng-click="praise($event,knowledge.id,knowledge)">{{knowledge.pointNum}}点赞</span>
			    					<span ng-if="knowledge.praise==1" class="know_praise" ng-click="praise($event,knowledge.id,knowledge)">{{knowledge.pointNum}}点赞</span>
		    					<span class="know_review" ng-click="detail(knowledge.id)">{{knowledge.plNum}}评论</span>
		    					<!-- <span class="know_share" ng-click="share(knowledge.id)"><span></span>{{knowledge.shareNum}}分享</span> -->
		    				</div>
		    			</li>
		    		</ul>
	    		</div>
	    		<div id="know_more_sc" style="display: none;">
	    			<div class="know_nomore">	<span>没有更多文章了</span>	</div>
	    		</div>
	    		<!-- 没有关注医生 -->
	    		<div class="know_circle_con" id="scWZ"  style="display: none;">
	    			<img src="../../img/notext.png" class="know_noattention">
	    			<p class="know_noarticle">您还没有收藏的文章，快去收藏吧</p>
	    			<a href="#" ng-click="upCheckNum()" class="know_more know_more_rm">查看更多热门健康内容</a>
	    		</div>
	    		<!-- 没有关注医生    end-->
	    	</div>
    	</div>
    	<div class=" scroll fl" infinite-scroll-distance='0'
		ng-class="{1:'ng-hide',2:'ng-hide',3:'ng-hide',4:''}[checkNum]"
		ng-controller="fl" infinite-scroll='loadMore4("fl")'
		infinite-scroll-disabled='flDis'
		infinite-scroll-immediate-check=true>
	    	<div class="swiper-slide">
	    		<div class="know_circle_con">
	    			<ul class="know_classify" id="classType"  >
	    				<li ng-repeat="clas in classlist" ng-cloak ng-click="claslink(clas.id,clas.typeName)">
	    					<div class="know_classify_con">
	    						<h3>
	    							<span class="left_icon"></span>
	    							<span class="know_classify_title" ng-cloak>{{clas.typeName}}</span>
	    							<i>文章{{clas.num}}</i>
	    						</h3>
	    						<div class="know_classify_img">
	    							<img ng-if="clas.imgUrl!=null&&clas.imgUrl!=''" ng-src="{{clas.imgUrl}}">
	    							<img ng-if="clas.imgUrl==null||clas.imgUrl==''" src="../../img/knowDefaulClass.png">
	    						</div>
	    					</div>
	    				</li>
	    			</ul>
	    		</div>
	    	</div>
	    	</div>
    	</div>
    </div>
   <script type="text/javascript" src="../../js/knowledge/knowledge_circle.js"></script>
   <script type="text/javascript" src="../../js/foot.js"></script>
<script type="text/javascript">
    $(function(){
      //轮播图
		  var tabsSwiper = new Swiper('#tabs-container',{
			    speed:500,
			    autoHeight: true,
			    on:{
					slideChangeTransitionStart: function(){  
			          $(".know_title ul .know_active").removeClass('know_active');
			          $(".know_title ul li").eq(this.activeIndex).addClass('know_active');
			    }
				}
			  });
			  $(".know_title ul li").on('click',function(e){
			    e.preventDefault();
			    $(".know_title ul .know_active").removeClass('know_active');
			    $(this).addClass('know_active');
			    tabsSwiper.slideTo( $(this).index());
			  });
			  $(".know_more_rm").on('click',function(e){
			    e.preventDefault();
			    $(".know_title ul .know_active").removeClass('know_active');
			    $("#gd").addClass('know_active');
			    tabsSwiper.slideTo( $(this).index());
			  });
    	});
</script>
</body>
</html>